@media screen and (max-width: 768px){
    html{font-size: 0.5em;}
    .card_area{
        width: 100%;
        height: 200vh;
        background-color: cadetblue;
    }
    .mleft{margin-left: 0;}
    .cards{
        width: 100%;
        height: 29%;
        margin-right: 0%;
    }
    .infodivs{
        height: 90vh;
        flex-wrap: wrap;
    }
    .contact_div, .about_div{
        width: 100%;
        height: 50%;
    }
    .presponsive{font-size: smaller;}
}
@media screen and (min-width: 1025px){html{font-size: 1.5em;}}
@media screen and (min-width: 1800px){html{font-size: 2em;}}
@media screen and (min-width:1365px) and (max-width:1366px){html{font-size: 1em;}}