@media screen and (max-width: 768px){
    .card_area{
        width: 100%;
        height: 200vh;
    }
    .mleft{margin-left: 0;}
    .cards{
        width: 100%;
        height: 29%;
        margin-right: 0%;
    }
    .infodivs{
        height: 90vh;
        flex-wrap: wrap;
    }
    .contact_div, .about_div{
        width: 100%;
        height: 50%;
    }
    html{
        font-size: 0.5em;
    }
    .presponsive{
        font-size: smaller;
    }
    .submit_header{margin-left: 35%;}
}
@media screen and (min-width: 425px){
    .submit_header{margin-left: 40%;} 
}
@media screen and (min-width: 768px){
    .submit_header{margin-left: 45%;} 
}
@media screen and (min-width: 1025px){
    html{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1800px){
    html{
        font-size: 2em;
    }
    .submit_header{font-size:1.2em;} 
}
@media screen and (min-width:1365px) and (max-width:1366px){
    html{font-size: 1em;}
}